PG_USER=postgres
PG_PASSWORD=change_me
PG_HOST=nike-scm-order-inventory-db
PG_PORT=5432
PG_DATABASE=scm_nike

REDIS_URL=redis://nike-scm-order-inventory-redis:6379
RABBITMQ_URL=amqp://nike-scm-order-inventory-mq

DEPLOY_MODE=microservice
REMOTE_ORDER_URL=http://nike-scm-order-inventory-order-service:3001

JWT_SECRET=change_me_to_a_long_random_secret
SNOWFLAKE_MACHINE_ID=1
PORT=3000
