PG_USER=postgres
PG_PASSWORD=change_me
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=scm_order_inventory

REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://localhost

DEPLOY_MODE=monolith
REMOTE_ORDER_URL=http://localhost:4000

JWT_SECRET=change_me_to_a_long_random_secret
SNOWFLAKE_MACHINE_ID=1
PORT=3000
